


<!DOCTYPE html>
<html>
<head>
<title>Meme Generator</title>
</head>
<body>
<h1>Meme Generator</h1>
<form action="/generate" method="POST">
<label for="image_url">Image URL:</label>
<input type="text" name="image_url" id="image_url">
<br>
<label for="top_text">Top Text:</label>
<input type="text" name="top_text" id="top_text">
<br>
<label for="bottom_text">Bottom Text:</label>
<input type="text" name="bottom_text" id="bottom_text">
<br>
<label for="font_size">Font Size:</label>
<input type="number" name="font_size" id="font_size">
<br>
<input type="submit" value="Generate Meme">
</form>
</body>
</html>



